root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
guidelines = 80
indent_size = 8
indent_style = tab
c_include_path = inc
guidelines = 80
indent_brace_style = Allman
vc_generate_documentation_comments = doxygen_slash_star

[CMakeLists.txt]
indent_size = 4
indent_style = space
